body {
    border: 10px solid rgb(255, 255, 255);
    color: #02441d;
    margin: 30px auto;
    padding: 20px;
    font-family: "Times New Roman", Times, serif;
  }
  
  .container1 {
     position: relative;
      width: 75%;
      height: 300px;
  }
  
  p {
    font-size: 1.6rem;
  }
  
  p.centerIt{
    text-align: center;
  }
  
  p.blacktext{
    color: black;
  }
  
  hr {
    border: 5;
    height: 5px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1));
  }
  
  h1 {
    text-align: center;
    font-size: 4rem;
    margin: 0 auto;
  }
  
  h2{
    font-size: 2.5rem;
  }
  
  h3{
    font-size: 2.5rem;
    text-align: center;
  }
  
  h1:hover{
    text-shadow: 1px 1px;
  }
  
  h2:hover{
    text-shadow: 1px 1px;
  }
  
  /*referenced from w3schools*/
  .parallax {
      /* The image used */
      background-image: url("http://students.washington.edu/hjf3/GIT_REPO/imdtester/tree.JPG");
      /* Set a specific height */
      height: 500px;
      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  }
  
  div.pictureImage {
    width: 100%;
    height: 100%;
    margin: 0px auto 0px auto;
    background: rgb(209, 211, 210);
    text-align: center;
    padding: 10px 0;
    overflow: hidden;
  }
  
  div.pictureImage img {
    width: 90%;
    height: 100%;
    margin: 0 auto;
  }
  
  div.pictureImage:hover {
    box-shadow: 5px 5px;
  }
  
  div.nailsImage {
    width: 100%;
    height: 100%;
    margin: 0px auto 0px auto;
    background: rgb(209, 211, 210);
    text-align: center;
    padding: 10px 0;
    overflow: hidden;
  }
  
  div.nailsImage img {
    width: 90%;
    height: 100%;
    margin: 0 auto;
  }
  
  div.nailsImage:hover {
    box-shadow: 5px 5px;
  }
  
  iframe{
    width: 90%;
    height: 100%;
    text-align: center;
  }
  
  .container {
    padding-top: 10px;
  }
  
  .footer {
     left: 0;
     bottom: 0;
     height: 60px;
     width: 100%;
     border: 7px solid rgb(229, 229, 229);
     background-color: rgb(229, 229, 229);
     color: black;
     text-align: center;
  }  